<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Bank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style th:inline="css">
    </style>
</head>
<body>
<h1>Bank</h1>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>CLIENT</th>
            <th>CREDITS</th>
        </tr>
        <tr th:each="bank : ${banks}">
            <td th:text="${bank.id}"></td>
            <td th:text="${bank.name}"></td>
            <td th:text="${bank.clients}"></td>
            <td th:text="${bank.credits}"></td>
        </tr>
    </table>
</div>
</body>
</html>