<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style th:inline="css">
    </style>
</head>
<body>
<h1>Client</h1>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>FIO</th>
            <th>EMAIL</th>
            <th>PASSPORT</th>
        </tr>
        <tr th:each="client : ${clients}">
            <td th:text="${client.id}"></td>
            <td th:text="${client.fio}"></td>
            <td th:text="${client.email}"></td>
            <td th:text="${client.passport}"></td>
        </tr>
    </table>
</div>
</body>
</html>