<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Credit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style th:inline="css">
    </style>
</head>
<body>
<h1>Credit</h1>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>LIMIT</th>
            <th>PERCENT</th>
        </tr>
        <tr th:each="credit : ${credits}">
            <td th:text="${credit.id}"></td>
            <td th:text="${credit.limit}"></td>
            <td th:text="${credit.percent}"></td>
        </tr>
    </table>
</div>
</body>
</html>