<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Credit Offer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style th:inline="css">
    </style>
</head>
<body>
<h1>Credit Offer</h1>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>CLIENT</th>
            <th>CREDIT</th>
            <th>PAYMENTS</th>
        </tr>
        <tr th:each="co : ${creditOffers}">
            <td th:text="${co.id}"></td>
            <td th:text="${co.client}"></td>
            <td th:text="${co.credit}"></td>
            <td th:text="${co.payments}"></td>
        </tr>
    </table>
</div>
</body>
</html>