<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Payment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style th:inline="css">
    </style>
</head>
<body>
<h1>Payment</h1>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>DATE</th>
            <th>TOTAL_AMOUNT</th>
            <th>BODY_AMOUNT</th>
            <th>PERCENT_AMOUNT</th>
        </tr>
        <tr th:each="payment : ${payments}">
            <td th:text="${payment.id}"></td>
            <td th:text="${payment.date}"></td>
            <td th:text="${payment.totalAmount}"></td>
            <td th:text="${payment.bodyAmount}"></td>
            <td th:text="${payment.percentAmount}"></td>
        </tr>
    </table>
</div>
</body>
</html>